<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,122},{116,114}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{116,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,118},{98,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{98,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,282},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{138,122}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{138,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,118},{116,112}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{116,112}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{118,114}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{118,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{118,114}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{118,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>boom_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{118,110}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{118,110}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom_1.png</string>
            <key>size</key>
            <string>{494,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab0d4b4814146431331a897a23fca01d$</string>
            <key>textureFileName</key>
            <string>boom_1.png</string>
        </dict>
    </dict>
</plist>
