<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p3_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{98,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>p3_lv3_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,392},{98,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>p3_lv3_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,166},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>p3_lv3_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>p3_lv3_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,262},{86,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{86,128}</string>
            </dict>
            <key>p3_lv3_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,84},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
            <key>p3_lv3_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{98,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>p3_lv3_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,130},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>p3_lv3_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>p3_lv3_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{86,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{86,128}</string>
            </dict>
            <key>p3_lv3_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p3_lv3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9250e3df01592bdd5c92157000e7b255:b8e921af29178d901974c8f2741dfb27:456e7bc77a684632f2b40ad5dc760682$</string>
            <key>textureFileName</key>
            <string>p3_lv3.png</string>
        </dict>
    </dict>
</plist>
