<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p5_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{108,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,126}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
            <key>p5_lv3_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,126}}</string>
                <key>sourceSize</key>
                <string>{108,126}</string>
            </dict>
            <key>p5_lv3_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{106,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>p5_lv3_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{100,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>p5_lv3_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,130},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>p5_lv3_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{88,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,126}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>p5_lv3_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{108,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,124}}</string>
                <key>sourceSize</key>
                <string>{108,126}</string>
            </dict>
            <key>p5_lv3_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,386},{106,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,124}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>p5_lv3_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,258},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>p5_lv3_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,130},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,126}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>p5_lv3_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{88,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,126}}</string>
                <key>sourceSize</key>
                <string>{90,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p5_lv3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab530b3de30416f2ba0429d67de8b08:e483b3e9c9e9e644bfc7848c8f699b88:02cdc6d9e3378d4e86d3d8cbcf87ea86$</string>
            <key>textureFileName</key>
            <string>p5_lv3.png</string>
        </dict>
    </dict>
</plist>
