<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p6_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,112},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,126}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>p6_lv1_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{120,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>p6_lv1_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{118,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>p6_lv1_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,262},{114,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{114,130}</string>
            </dict>
            <key>p6_lv1_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{108,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,128}}</string>
                <key>sourceSize</key>
                <string>{108,130}</string>
            </dict>
            <key>p6_lv1_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{98,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,128}}</string>
                <key>sourceSize</key>
                <string>{98,130}</string>
            </dict>
            <key>p6_lv1_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>p6_lv1_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{116,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,128}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>p6_lv1_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,392},{112,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,130}</string>
            </dict>
            <key>p6_lv1_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{106,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,128}}</string>
                <key>sourceSize</key>
                <string>{106,130}</string>
            </dict>
            <key>p6_lv1_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,110},{98,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,128}}</string>
                <key>sourceSize</key>
                <string>{98,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p6_lv1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:273d1d97135c2f9a585d6231e06b6ea8:1d8e0cd5d95bce8f52eb444ea3d20c3a:be49dcc40a9842c1d75f9c5d3a4e9548$</string>
            <key>textureFileName</key>
            <string>p6_lv1.png</string>
        </dict>
    </dict>
</plist>
