<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bag_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{582,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{582,152}}</string>
                <key>sourceSize</key>
                <string>{584,152}</string>
            </dict>
            <key>bg_shop_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{582,152}}</string>
                <key>sourceSize</key>
                <string>{584,152}</string>
            </dict>
            <key>box_bg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{584,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,128}}</string>
                <key>sourceSize</key>
                <string>{584,128}</string>
            </dict>
            <key>btn_bag_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1458},{122,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,52}}</string>
                <key>sourceSize</key>
                <string>{126,52}</string>
            </dict>
            <key>btn_bag_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1512},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
            <key>btn_bag_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1344},{122,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,56}}</string>
                <key>sourceSize</key>
                <string>{124,56}</string>
            </dict>
            <key>btn_shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1402},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{124,54}</string>
            </dict>
            <key>btn_shop_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1556},{108,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,42}}</string>
                <key>sourceSize</key>
                <string>{108,42}</string>
            </dict>
            <key>btn_shop_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1286},{122,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,56}}</string>
                <key>sourceSize</key>
                <string>{122,56}</string>
            </dict>
            <key>img_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,644},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>ui3_bg_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{640,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,62}}</string>
                <key>sourceSize</key>
                <string>{640,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopui.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cdf44458546b64aee965e09f6f57e31:a088ff97e94c0004138271de32843a09:0c7ac165aa10d035000f74b996499119$</string>
            <key>textureFileName</key>
            <string>shopui.png</string>
        </dict>
    </dict>
</plist>
