<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p3_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,262},{98,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>p3_lv1_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,390},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>p3_lv1_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>p3_lv1_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,260},{92,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,126}}</string>
                <key>sourceSize</key>
                <string>{92,126}</string>
            </dict>
            <key>p3_lv1_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{86,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{86,128}</string>
            </dict>
            <key>p3_lv1_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
            <key>p3_lv1_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{98,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>p3_lv1_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,132},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>p3_lv1_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>p3_lv1_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{86,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{86,128}</string>
            </dict>
            <key>p3_lv1_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,132},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p3_lv1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0475fce53c50a2f110850cba71d366e9:2fc5bad7d0f6d8ff1e26eb52c67107a9:4a6c7d1df2a035dcd7bb0ba698a782f1$</string>
            <key>textureFileName</key>
            <string>p3_lv1.png</string>
        </dict>
    </dict>
</plist>
