<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p4_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{106,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{106,122}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>p4_lv1_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{106,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,122}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>p4_lv1_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,126},{104,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,122}}</string>
                <key>sourceSize</key>
                <string>{104,124}</string>
            </dict>
            <key>p4_lv1_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,122}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>p4_lv1_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,374},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,122}}</string>
                <key>sourceSize</key>
                <string>{94,124}</string>
            </dict>
            <key>p4_lv1_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{86,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,124}}</string>
                <key>sourceSize</key>
                <string>{86,124}</string>
            </dict>
            <key>p4_lv1_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{106,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,122}}</string>
                <key>sourceSize</key>
                <string>{106,122}</string>
            </dict>
            <key>p4_lv1_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,250},{102,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,122}}</string>
                <key>sourceSize</key>
                <string>{104,124}</string>
            </dict>
            <key>p4_lv1_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,126},{98,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,122}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>p4_lv1_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,374},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,124}</string>
            </dict>
            <key>p4_lv1_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,124}}</string>
                <key>sourceSize</key>
                <string>{86,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p4_lv1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:756c79840127e9735ac1fa7170e6cc06:f8050fe8203bc913e23062e521a626a4:7070bc2bcfb50c27e9d4a89907b00a34$</string>
            <key>textureFileName</key>
            <string>p4_lv1.png</string>
        </dict>
    </dict>
</plist>
