<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p5_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{108,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,124}}</string>
                <key>sourceSize</key>
                <string>{110,124}</string>
            </dict>
            <key>p5_lv1_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,124}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>p5_lv1_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{106,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,124}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>p5_lv1_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,380},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>p5_lv1_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,254},{96,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,124}}</string>
                <key>sourceSize</key>
                <string>{96,124}</string>
            </dict>
            <key>p5_lv1_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,128},{88,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,126}</string>
            </dict>
            <key>p5_lv1_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{108,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,122}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>p5_lv1_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{106,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,122}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>p5_lv1_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{102,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,124}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>p5_lv1_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{94,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,124}}</string>
                <key>sourceSize</key>
                <string>{96,124}</string>
            </dict>
            <key>p5_lv1_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,128},{88,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,124}}</string>
                <key>sourceSize</key>
                <string>{90,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p5_lv1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93149bc1603d7d1d27c2b6bb7f78375d:12641133ce0fea2207c8cc43bc63a13c:999077c03ee1133b8ddfb2af9185af8e$</string>
            <key>textureFileName</key>
            <string>p5_lv1.png</string>
        </dict>
    </dict>
</plist>
