<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,186}}</string>
                <key>sourceSize</key>
                <string>{280,186}</string>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{61,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,108}}</string>
                <key>sourceSize</key>
                <string>{61,108}</string>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{180,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,77}}</string>
                <key>sourceSize</key>
                <string>{180,77}</string>
            </dict>
            <key>e9.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,284},{141,88}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{141,88}}</string>
                <key>sourceSize</key>
                <string>{141,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allenemy.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b142300d12cd3ce9379284418a45b60a:35c9d3f35923e0d64fccd3d5296176c7:c1f2cacc1fbcc7847b4c31ddd001419d$</string>
            <key>textureFileName</key>
            <string>allenemy.png</string>
        </dict>
    </dict>
</plist>
