<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{100,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,8}}</string>
                <key>sourceSize</key>
                <string>{100,8}</string>
            </dict>
            <key>hpbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,8}}</string>
                <key>sourceSize</key>
                <string>{103,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ehp.png</string>
            <key>size</key>
            <string>{32,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0f1d33c4013a580f9d04fa866cff5b3:931e3266aa4cea83552767b856898f45:b4c3cc9ab8efb37139145deb37f5f3ff$</string>
            <key>textureFileName</key>
            <string>ehp.png</string>
        </dict>
    </dict>
</plist>
