<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,196}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>energy_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,200}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>energy_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{194,200}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{194,200}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>energy_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{202,200}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>energy_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{200,194}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>energy_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,202}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>energy_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,602},{194,200}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{194,200}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>energy_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,200}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>energy_1.png</string>
            <key>size</key>
            <string>{410,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a730f6d8c24f450aa98006064758e628$</string>
            <key>textureFileName</key>
            <string>energy_1.png</string>
        </dict>
    </dict>
</plist>
